@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-calculo {
        @apply 
            flex
            flex-col
            gap-4
    }
    
    .h1-calculo {
        @apply
            font-bold
            text-3xl
            text-center
            dark:text-slate-50
            text-slate-800
    }

    .p-calculo {
        width: 50rem;
        @apply
            text-xl
            text-justify
            dark:text-slate-200
            text-slate-700
    }
}