@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main {
        @apply 
            bg-slate-50
            dark:bg-slate-800;
        height: 88.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .principal {
        align-items: center;
        gap: 5rem;
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}